@use "../../../../styles/components/responsive";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem;

  .box {
    display: flex;
    height: 100%;
    padding: 2rem 6rem 3rem 6rem;

    @include responsive.xl-additional {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4rem;
      width: 50%;

      h1 {
        max-width: 26rem;
        font-size: 3.5rem;
        font-weight: 500;
      }

      a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.625rem 2.75rem;
        border: 0.15rem solid rgb(107, 126, 60);
        color: black;

        &:hover {
          color: #f1faff;
          background-color: rgb(107, 126, 60);
        }
      }
    }

    .holder {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;

      .imageBox {
        position: relative;
        height: 33rem;
        width: 26rem;
        margin-bottom: 6rem;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 0.6rem;

          &:nth-child(1) {
            position: relative;
            box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.45);
            z-index: 1;
          }

          &:nth-child(2) {
            position: absolute;
            top: 10.31rem;
            right: 8.6rem;
            z-index: 0;
          }
        }
      }
    }
  }
}
