.text_link {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 18rem;
  height: 28rem;
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  box-shadow: 0.13rem 0.14rem 0.17rem rgba(0, 0, 0, 0.15);
  transition: 0.25s ease;
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }

  img {
    object-fit: cover;
    border-radius: 0.6rem;
    width: 15.875rem;
    height: 15.875rem;
  }

  p {
    display: flex;
    gap: 0.2rem;
    font-size: 1rem;

    &:nth-child(4) {
      span {
        font-weight: 600;
      }
    }
  }

  .button_box {
    display: flex;
    gap: 0.5rem;

    button {
      padding: 0.3rem;
      border: 0.1rem solid black;
      border-radius: 0.4rem;
      background-color: #ffffff;
      cursor: pointer;

      &:hover {
        color: #f1faff;
        background-color: rgb(107, 126, 60);
      }
    }
  }
}
